  
* {
  box-sizing: border-box;
}

body {
  margin: 0;
 
}





.top-wrapper {

  background-image: url(backgr.png);
  opacity:0.8;
  background-size: cover;
  text-align: center;
  width:100%;
  height:500px;
  margin-top:65px;
  position:relative;
  z-index:1;
}



header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  height: 65px;
 
}

.header-left {
  float: left;
  color:white;
  margin-left:25px;
}

.header-right {
  float: right;
  margin-right: 25px;
  margin-top:10px;
 
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;

}

.top-container{
 position:absolute;
  top:100px;
  left:385px;
  opacity:1;
  z-index:9;
}
.top-wrapper p{
  color:black;
  
}


