  


body {
  margin: 0;
 list-style:none;
}





.top-wrapper {

  background-image: url(backgr.png);
  opacity:0.8;
  background-size: cover;
  text-align: center;
  width:100%;
}



header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  top: 0;

}



.header-left {
  float: left;
  color:white;
  margin-left:25px;
  font-weight:bold;
}

.header-right {
  float: right;
  margin-right: 25px;
  margin-top:10px;
 width:256px;
 height:50px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;

}


.top-wrapper p,h1{
  color:#2f4f4f;
  padding-top:50px;
}

li{
  background-color:#e0ffff;
  text-align:left;
  border:2px #afeeee dashed;
  width:310px;

  list-style:none;
  opacity:0.8;
  line-height:30px;
  
}



.prf-back{
  width:600px;
}

.btn{
  background-color:pink;
  padding:8px 24px;
  border-radius:5px;
  box-shadow:0 5px #db7093;
  display:inline-block;
  opacity:0.7;
  text-decoration:none;
}
.btn:hover{
  opacity:1;
}


.smn{
  height:180px;
  width:180px;

  top:670px;
  left:870px;
  
}
  
  .profeel{
    width:800px;
    background-color:yellow;
   
    margin:0 auto;


}
