* {
  box-sizing: border-box;
}

body {
  margin: 0;
 
}





.top-wrapper {

  background-image: url(backgr.png);
  opacity:0.2;
  background-size: cover;

  text-align: center;
}



header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  height: 65px;
 
}

.header-left {
  float: left;
  color:white;
}

.header-right {
  float: right;
  margin-right: 25px;
  margin-top:10px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}



